/* Banner */

.banner {
	position: relative;
	background-color: var(--dm_rosa_00);
	height: calc(100vh - 100px);
	overflow: hidden;
}

.banner__container {
	display: grid;
    grid-template-columns: 3fr max-content;
    padding: 100px 0;
	height: 100%;
	max-width: 1200px;
	min-height: 800px;
	margin: auto;
    color: var(--dm_creme_02);
}

.banner__texts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	z-index: 2;
}

.banner__p-2 {
	padding-top: 0.5rem;
	color: var(--cremes-dm-creme-00, #FAF6F0);
	font-style: normal;
	font-weight: 400;
    text-shadow: 1px 1px 3px var(--dm_rosa_00);
}

h1 {
	color: var(--cremes-dm-creme-00, #FAF6F0);
	font-size: 54px;
	font-weight: 600;
	font-family: "Roboto slab";
}

.banner__logo {
	margin-top: 1rem;
	height: 42px;
	object-fit: contain;
	flex-shrink: 0;
	z-index: 2;
}


.banner__video--container {
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 100%;
    left: 0;
	top: 0;
	object-fit: contain;
	z-index: 1;
}

.video {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: auto;
}

.banner__video--book {
	position: absolute;
	height: 640px;
    right: -120px;
	top: 260px;
}

/* Mapalytics */

.mapalytics {
	position: relative;
    background: var(--dm_creme_00);
	min-width: 100%;
	min-height: 458px;
}

.mapalytics__container--1, .mapalytics__container--2 {
	display: grid;
	align-items: center;
	position: relative;
	height: 100%;
	width: calc(100% - 40px);
	max-width: 1200px;
	margin: auto;
}

.mapalytics__container--1 {
	grid-template-columns: 1fr 1.4fr;
	gap: 40px;
}

.container__video--1 {
	position: relative;
	height: 100%;
	width: 100%;
}

.mapalytics__texts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	background: #fdfbf920;
    backdrop-filter: blur(22px);
    z-index: 1;
}

.mapalytics__video--1  {
	height: 100%;
	width: 100%;
	object-position: bottom right;
	object-fit: cover;
}


.mapalytics__video--1 {
	position: absolute;
	right: 0;
}

.mapalytics__video--ctn-1 {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.container__video--2 {
	position: absolute;
	display: grid;
	height: 100%;
	width: 100%;
}

.container__video--2, .mapalytics__container--2 {
	grid-template-columns: 810px 1fr;
}

.mapalytics__video--ctn-2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mapalytics__video--2 {
	height: 100%;
	width: 100%;
}

h2 {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 15px;
	color: var(--dm_rosa_00);
	z-index: 2;
}

.mapalytics__map {
	width: 100%;
}

.titulo-2 {
	font-weight: 400;
	color: var(--dm_preto_00);
	width: 100%;
	z-index: 2;
}

/* Alimentação */

.alimentacao {
	background: var(--dm_preto_00);
}

.alimentacao__white {
	height: 100%;
	background: #FAF6F0;
}

.alimentacao__container--1, .alimentacao__container--2 {
	display: grid;
	align-items: center;
	gap: 40px;	
	padding: 100px var(--margins);
}

.alimentacao__container--1 {
	grid-template-columns: 1.2fr 1fr;
}

.alimentacao__container--2 {
	grid-template-columns: 1fr 1.2fr;
}

.alimentacao__animation {
	width: 100%;
	object-fit: contain;
}

.alimentacao .title, .alimentacao__description {
	color: var(--dm_creme_02);
	font-family: "roboto";
}

.alimentacao .title span {
	color: var(--dm_rosa_00);
	font-style: italic;
    font-weight: 800;
}

.alimentacao__white .title, .alimentacao__white .alimentacao__description {
	color: var(--dm_preto_00);
}

/* -- CARROSSEL -- */

.carrossel__container--2 {
	display: grid;
	grid-template-columns: 1fr 2.2fr;
	align-items: center;
	height: 750px;
}

.carrossel__2 {
	display: grid;
	grid-template-columns: 1fr 2.2fr;
	margin: 0 0 0 var(--margins);
}

/* Básico */

.basico {
	background: #363535;
}

.carrossel__ctn--column-1 {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 100px 0;
	padding-right: 60px;
	background: var(--dm_rosa_00);
	width: 100%;
	color: var(--dm_creme_02);
}


.carrossel__ctn--column-1::before {
	content: '';
	position: absolute;
	background: var(--dm_rosa_00);
	right: 100%;
	width: 200px;
	height: 100%;
}

.basico__column-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px;
    min-width: 100%;
	padding: 100px var(--margins) 100px 40px;
	color: var(--dm_creme_02);
}

.basico__column-2 * {
	font-family: "Roboto" !important;
	font-size: 14px;
}

.background__white {
	position: relative;
	background: var(--dm_creme_02);
	color: var(--dm_preto_00);
}

.basico__title, .basico__title * {
	font-size: 28px;
}

.basico__call{
	font-size: 24px;
}

.basico__img {
	width: 100%;
}

.btn__white {
	background: #FAF6F0;
	color: var(--dm_rosa_00);
	border: none;
	padding: 6px 10px;
	font-size: 20px;
	width: max-content;
	font-weight: 600;
	transition: .2s;
	cursor: pointer;
	z-index: 2;
}

.btn__white--pink {
	background: var(--dm_rosa_00);
	color: var(--dm_creme_02);
}

.btn__white:hover {
	background: var(--dm_rosa_00);
	color: #dad4ce;
	transition: .2s;
}

.btn__white--pink:hover {
	color: var(--dm_rosa_00);
	background: #dad4ce;
}

.basico__list--title {
	color: var(--dm_rosa_00);
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.basico__list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.basico__list--check__black .basico__item::before {
	color: var(--dm_preto_00);
}

.basico__item {
	position: relative;
	margin-left: 22px;
	font-weight: 400;
    line-height: 21px;
	font-size: 12px;
	letter-spacing: 0.2px;
}

.basico__item::before {
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--dm_creme_02);
	position: absolute;
	background-image: url('../../../public/icones/check__white.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-weight: 900;
	width: 14px;
	height: 14px;
	left: -28px;
	z-index: 1;
}

.background__white .basico__item::before { 
	background-image: url('../../../public/icones/check.svg');
}

.basico__item--first {
	font-weight: 600;
	font-style: italic;
}

.text__text {
    padding-top: 50px;
}

/* Formulário */

.forms {
	position: relative;
	overflow: hidden;
	color: var(--dm_creme_02);
}

.forms__container {
	display: grid;
	grid-template-columns: 1fr 1.4fr;
	align-items: center;
	gap: 40px;
	margin-left: var(--margins);
}

.forms__formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: var(--dm_creme_02);
	padding: 100px 0;
	width: 100%;
}

.forms__formulario::after {
	content: '';
	position: absolute;
	left: 100%;
	background: var(--dm_creme_02);
	height: 100%;
	width: 30vw;
	top: 0;
}

.forms__formulario--content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
	width: 100%;
	max-width: 600px;
	height: 100%;
}

.forms__formulario--content input {
	border: 2px solid gray;
	padding: 10px 20px;
}

.forms__text--rosa {
	color: var(--dm_rosa_00);
	font-weight: 600;
}

.forms__column--1 {
	position: relative;
	display: flex;
	align-items: center;
	width: 300px;
	padding: 100px 0;
	margin: auto;
}

.forms__seta {
	display: block;
	position: absolute;
	right: 0;
	font-size: 42px;
	animation: arrowAnime 4s infinite;
}

@keyframes arrowAnime {
	0% {
		transform: translatex(0);
	}
	20% {
		transform: translatex(0);
	}
	50% {
		transform: translatex(30px);
	}
	100% {
		transform: translatex(0);
	}
}
/* Tudo */

.tudo {
	background: var(--dm_creme_02);
}

/*  */

.mapalytics__notebook-2 {
	position: absolute;
	height: 100%;
	object-fit: cover;
	width: 600px;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.presentation-bloco {
	background-color: #D9D9D9;
	width: 670px;
	height: 500px;
	flex-shrink: 0;
}

.varejo-h1 {
	color: var(--dm_preto_00);
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	height: 40px;
	width: 100%;
}

.varejo__p {
	margin-top: 30px;
	width: 430px;
	color: var(--dm_preto_00);
	font-style: normal;
	font-weight: 500;
}

.varejo__p span {
	color: var(--dm_rosa_00);
	font-weight: 500;
}

.presentation3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 570px;
	width: 100%;
	background: var(--dm_preto_00);
	color: var(--dm_creme_00)
}

.contato {
	position: relative;
	background-color: var(--dm_rosa_00);
	width: 100%;
	height: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	text-align: center;
	color: var(--dm_creme_02);
}

.conhecer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.conhecer__melhor {
	background: var(--dm_azul_00);
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.conhecer__quer {
	margin: auto;
	color: var(--dm_creme_02);
	width: 300px;
	position: relative;
}

.manda {
	display: inline-block;
	margin-bottom: 30px;
	font-family: "Roboto Slab";
	font-size: 34px;
	font-weight: 600;
}

.seta-1 {
	position: absolute;
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	left: 175px;
	bottom: 78px;
	color: var(--dm_creme_02);
}

.email {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 50px;
	border: 1px solid var(--dm_creme_02);
	color: var(--dm_creme_02);
	transition: 0.5s;
	cursor: pointer;
}

.email:hover {
	background: var(--dm_creme_02);
	color: black;
	transition: 0.3s;
}

input[type="text"],
input[type="email"],
.mensagem {
	padding-left: 15px;
}

::placeholder {
	font-size: 16px;
}

.seu-nome,
.seu-melhor-email {
	height: 38px;
}

.seu-nome,
.seu-melhor-email,
.mensagem {
	border: 1px solid var(--dm_preto_00);
	margin-bottom: 15px;
}

.footer__mapalytics::after {
	content: '';
	position: absolute;
	top: -15px;
	z-index: 1;
	left: 0;
	background: var(--dm_rosa_00);
	height: 4px;
	width: 100%;
}

.footer__mapalytics {
	position: relative;
}

.footer__mapalytics img {
	height: 32px;
	object-fit: contain;
}

@media screen and (max-width: 1200px) {
	.banner__video--book {
		right: -100px
	}

	.banner__container {
		margin: 0 var(--margins) 0 var(--margins);
	}
}

@media screen and (max-width: 1000px) {
	/* Banner */

 	.banner__container {
		gap: 50px;	
		min-height: max-content;
		padding: 40px 0 0 0;
	}

	.banner__video--container {
		position: relative;
		padding: 0;
	}
	
	.banner {
		height: 100%;
	}

	.banner__container, .banner__texts {
		display: flex;
		gap: 20px;
		flex-direction: column;
	}

	.video {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.banner__video--book {
		position: relative;
		right: initial;
		width: 140%;
		height: 100%;
		bottom: initial;
	}

	/* Formulário */
	
	.forms__container {
		margin: 0;
	}

	.forms__formulario::after {
		display: none;
	}

	.forms__formulario--content {
		padding: 0 var(--margins);
	}

	/* Mapalytics Slide */

	.mapalytics__texts {
		margin: 40px 0;
	}

	.alimentacao__container--1, .alimentacao__container--2 {
		margin: 0 var(--margins);
	}
	/* --1 */

	.mapalytics__container--1{
		display: flex;
		flex-direction: column;
	}
	
	.mapalytics__video--ctn-1 {
		object-fit: contain;
		object-position: bottom;
	}

	.carrossel__ctn--column-1 {
		padding-left: var(--margins);
	}

	.mapalytics__video--1 {
		position: relative;
	}

	/* --2 */
	.mapalytics__video--ctn-2 {
		object-position: bottom;
	}

	.container__video--2, .mapalytics__container--2 { 
		grid-template-columns: 1.6fr 1fr;
		display: flex;
		flex-direction: column;
	}

	.carrossel__2 {
		margin: 0;
	}

	.container__video--2 {
		padding-top: 320px;
	}

	.mapalytics__container--2 {
		padding-bottom: 200px;
	}

}

@media screen and (max-width: 800px) {

	.alimentacao__container--1, .alimentacao__container--2, .carrossel__2 {
		display: flex;
		flex-direction: column;
	}

	.forms__container {
		display: flex;
		flex-direction: column;
	}

	.forms__seta {
		right: initial;
		margin: auto;
		bottom: 50px;
	}

	.forms__column--1 {
		justify-content: center;
	}

	@keyframes arrowAnime {
		0% {
			transform: translatex(0) translatey(0) rotate(90deg);
		}
		20% {
			transform: translatex(0) translatey(0) rotate(90deg);
		}
		50% {
			transform: translatex(0) translatey(30px) rotate(90deg);
		}
		100% {
			transform: translatex(0) translatey(0) rotate(90deg);
		}
	}

	/*  */

	.basico__column-2 {
		border-bottom: 1px solid var(--dm_rosa_00);
	}
	
}

@media screen and (max-width: 600px) {

	.basico__column-2 {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

}