.dm-banner {
    position: relative;
    background-image: url("../../public/datamachina/img/elementos/background.png");
    background-size: 100vw;
    height: calc(100vh - 100px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.dm-banner::after {
    content: '↓';
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: var(--dm_azul_00);
    width: 100%;
    bottom: 40px;
    z-index: 2;
    animation: infinite 4s arrowBanner;
}

@keyframes arrowBanner {
    0% {
		transform: translatey(0);
	}
	20% {
		transform: translatey(0);
	}
	50% {
		transform: translatey(30px);
	}
	100% {
		transform: translatey(0);
	}
}

.dm-banner__container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    height: 100%;
    width: calc(100% - 100px);
    max-width: 1200px;
    z-index: 2;
    color: var(--dm_creme_02);
    gap: 50px;
    padding: 100px 0;
    margin: auto;
}

.banner__iframe {
    justify-self: flex-start;
    min-width: 576px;
    width: 100%;
    min-height: 320px;
    z-index: 1;
}

.dm {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100px;
    z-index: 0;
}

.dm-banner__texts {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-top: 10px;
    z-index: 2;
}

.dm-banner__h1 {
    font-size: 48px;
    font-weight: 600;
}

h1 em {
    color: var(--dm_azul_00);
}

.img-banner {
    z-index: 0;
    position: absolute;
    height: 101%;
    width: 100%;
    object-fit: cover;
}


.img-video {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s;
}

.inquietude {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
    position: relative;
    color: var(--dm_preto_00);
    background-color: var(--dm_creme_02);
    margin: auto;
    padding: 0 20px;
}


/* Produtos */

.produtos {
    position: relative;
}

.produtos__negocio {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    width: 100%;
    color: var(--dm_creme_02);
}

.produtos__negocio--1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.8fr;
    width: 100%;
    color: var(--dm_creme_02);
}

#Logística {
    margin: 50px 0px;
}

.produtos__contorno {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-rows: max-content max-content;
}

.produtos__gif-animado {
    width: 100%;
    object-fit: cover;
}

.mais__pink {
    border-color: var(--dm_rosa_00);
    color: var(--dm_creme_02) !important;
}

.mais__pink:hover {
    transition: 0.3s;
    border-width: 1px 0 1px 1px;
    border-color: var(--dm_rosa_00);
    background: var(--dm_rosa_00);
}

.mais__pink:hover .produtos__ir {
    transition: 0.3s;
    background: var(--dm_preto_00);
    border-width: 1px;
    border-style: solid;
    border-color: var(--dm_rosa_00);
}

.produtos__ir {
    background: var(--dm_rosa_00);
    transition: 0.3s;
    color: var(--dm_creme_02);
    border-color: var(--dm_rosa_00);
}

.produtos__ir:hover {
    border: 1px solid var(--dm_rosa_00);
}

.descricao,
.descricao-1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
    height: 100%;
}

.descricao-1 {
    align-items: flex-end;
}

.produtos__unidade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100%;
  align-self: flex-end;
  padding-right: 20px;
}

.produtos__unidade img {
  margin-left: 20px;
  height: 60px;
}


.produtos__unidade {
  background: var(--dm_rosa_00);
  justify-content: flex-start;
}


.container-data-machina {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    gap: 20px;
}

.dm-titulo-1 {
    font-family: "roboto";
}

.dm-titulo-2,
.dm-titulo-4 {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    max-width: 100%;
    width: 100%;
}

.dm-titulo-2 strong,
.dm-titulo-4 strong {
    font-weight: 600;
}

/* Soluções */

.solucoes {
    position: relative;
    background: var(--dm_laranja_00);
    width: 100%;
}

.nossas-solucoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    color: var(--dm_creme_02);
    height: 400px;
    margin: auto;
    text-align: center;
}

/* Marcas */

.marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: var(--dm_creme_02);
    gap: 80px 0;
    padding: 100px 140px;
    background: var(--dm_creme_02);
}

.marcas--2 {
    grid-template-columns: 1fr 1fr 1fr;
}

.marcas img {
    width: 130px;
}

.marcas--2 img{
    width: 140px;
}

/* Comentários */

.comentarios {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.comentarios__temos-orgulho {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dm_creme_02);
    width: 100%;
    height: 100%;
    padding: 100px;
}

.comentarios__seta {
    position: absolute;
    transform: rotate(-90deg);
    top: 223px;
    font-size: 45px;
    font-weight: 600;
    cursor: default;
}

.comentarios__arrow {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: max-content;
}

.comentarios__arrow::before {
    content: '↓';
    position: absolute;
    right: -48px;
    transform: rotate(-90deg);
    font-size: 40px;
    font-weight: 600;
    cursor: default;
    top: 4px;
    animation: comentsArrow 4s infinite;
}

@keyframes comentsArrow {
    0% {
		transform: translatex(0) rotate(-90deg);
	}
	20% {
		transform: translatex(0) rotate(-90deg);
	}
	50% {
		transform: translatex(30px) rotate(-90deg);
	}
	100% {
		transform: translatex(0) rotate(-90deg);
	}
}


.comentarios .controlls__btn:hover .controlls__circle, .comentarios .controlls__btn--selected .controlls__circle {
    background: var(--dm_cinza_01);
}

.comentarios .carrossel__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    background: var(--dm_amarelo_00);
}

.comentarios__texts {
    font-size: 20px;
}

.comentarios__img {
    margin-bottom: 20px;
    width: 120px;
}

.comentarios__img p {
    font-size: 21px;
}

.carousel-item p {
    font-size: 20px;
}

.comentarios__fulano {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Roboto slab";
}

.carrossel-button {
    transform: translatex(80px);
    background: none;
    border: 1px solid var(--dm_preto_00);
    padding: 10px 20px;
    margin: 5px;
    transition: 0.3s;
}

.carrossel-button:hover {
    background: var(--dm_laranja_00);
    transition: 0.2s;
}

.button-carrossel-container {
    background: var(--dm_laranja_00);
    width: 0px;
    margin: auto;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.seta img {
    transform: rotate(180deg);
}

.premio {
    position: relative;
    background: var(--dm_creme_02);
}

.premio__container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    width: 100%;
    margin: auto;
}

.premio__logo {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    gap: 20px;
    width: calc(100% - 100px);
    max-width: 340px;
    margin: auto;
}

.premio__logo--img {
    width: 340px;
    object-fit: contain;
    margin: auto;
}

.p-premio {
    font-size: 18px;
}

.premio__iframe {
    width: 576px;
    height: 325px;
    margin: auto;
}

.video-premio {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 40px 0;
    background: #EEEBE5;
}

.premio__melhor {
    background: var(--dm_azul_00);
    color: var(--dm_creme_02);
}

.programas-de-aceleracao {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    text-align: center;
}

.programas-de-aceleracao p {
    color: var(--dm_creme_02);
}

.clientes {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dm_creme_02);
    height: 350px;
    width: 100%;
}

.clientes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 10px;
    align-items: center;
    justify-items: center;
    gap: 30px;
    height: 80%;
    max-width: 1000px;
    margin: 10px;
    margin-top: 50px;
    margin-block-end: 50px;
}

.clientes img {
    width: 180px;
    margin: 0 25px;
}


.dm-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dm_creme_02);
}

/*  */

.inputs-contato-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-contato {
    width: 400px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
.mensagem {
    padding-left: 15px;
}

::placeholder {
    font-size: 16px;
}

.seu-nome,
.seu-melhor-email {
    height: 38px;
}

.seu-nome,
.seu-melhor-email,
.mensagem {
    border: 1px solid var(--dm_preto_00);
    margin-bottom: 15px;
}

.mensagem {
    height: 100px;
}

.enviar {
    border: none;
    height: 35px;
    color: var(--dm_creme_02);
    font-size: 16px;
    background: var(--dm_azul_00);
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
}

.enviar:hover {
    background: var(--dm_azul_00);
    transition: 0.2s;
}

@media only screen and (max-width: 1700px) {

    .dm-titulo-2,
    .dm-titulo-4 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 1475px) {

    .produtos {
        display: block;
        padding: 50px 0;
    }

    #Logística {
        margin: 75px 0 50px 0px;
    }

}


@media (max-width: 1200px) {

    .inquietude {
        height: 300px;
    }

    .banner__iframe {
        justify-self: flex-start;
        width: 471px;
        height: 242px;
        z-index: 1;
    }

    .premio__iframe {
        width: 471px;
        height: 265px;
    }

    .marcas {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .marcas img {
        width: 80px;
    }

    .clientes img {
        width: 130px;
    }

    .nossas-solucoes {
        height: 300px;
    }

    .premio__logo--img {
        width: 300px;
    }

    .programas-de-aceleracao {
        font-size: 22px;
        height: 400px;
        margin: auto;
        width: calc(100% - 100px);
        text-align: center;
        height: 300px;
    }

    .mais__pink{
        background: none;
        height: 35px;
        width: 136px;
        padding-left: 22px;
        position: relative;
        font-size: 12px;
        cursor: pointer;
    }

    .produtos__ir {
        width: 35px;
        height: 35px;
        right: -35px;
        display: flex;
    }

    .carousel-item p {
        font-size: 16px;
    }

    .comentarios__seta {
        top: 200px;
    }

    .container-data-machina {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    /* Banner */

    .dm-banner__h1 {
        font-size: 34px;
    }

    .dm-banner__container {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
    }

    .dm-banner {
        background-size: cover;
        height: initial;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    /*  */

    .video-premio {
        margin: auto;
    }

    .premio__logo {
        padding: 40px 0;
    }

    /* Marcas */

    .marcas {
        padding: 50px 20px;
        gap: 40px 0;
    }


    .premio__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }

    .banner__iframe {
        width: 460px;
        height: 236px;
    }

    h1 {
        font-size: 30px;
    }

    /*  */

    .produtos__unidade img {
        height: 44px;
    }
    
}

@media (max-width: 800px) {
    /* Banner */

    .banner__iframe {
        width: 100%;
        min-width: 100%;
    }
    
    /*  */

    .descricao,
    .descricao-1 {
        padding: 0 20px;
    }

    .dm-titulo-2,
    .dm-titulo-4 {
        font-size: 14px;
        line-height: 22px;
        max-height: max-content;
    }

    .comentarios__temos-orgulho {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dm_creme_02);
        width: 100%;
        height: 400px;
        font-family: "Roboto Slab";
        font-size: 34px;
        font-weight: 600;
    }

    .carrossel-button {
        transform: translate(-80px, 150px);
        margin: 5px;
        transition: 0.3s;
    }

    .button-carrossel-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .dm-banner {
        gap: 0px;
    }

    .grid-bottom {
        padding-top: 15px;
        width: 260px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    /* Premio */

    .premio__logo {
        width: 100%;
    }

    .premio__iframe {
        width: calc(100% - 40px);
        height: 260px;
    }
    
}

@media (max-width: 600px) {
    .clientes-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .clientes-container img {
        width: 120px;
        margin: 40px;
    }

    .clientes {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--dm_creme_02);
        height: max-content;
        width: 100%;
    }

    .grid-bottom {
        padding-top: 25px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .seta-2 {
        display: none;
    }

    .comentarios__temos-orgulho p {
        text-align: center;
    }

    .premio__iframe {
        margin-top: 30px;
    }

    .comentarios {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button-carrossel-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .produtos__negocio {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        color: var(--dm_creme_02);
    }

    .produtos__negocio--1 {
        grid-template-columns: 1fr;
        min-height: 600px;
        color: var(--dm_creme_02);
    }

    .dm-titulo-1 {
        text-align: center;
        width: 100%;
    }

    .comentarios {
        display: flex;
        flex-direction: column;
    }
    .banner__iframe {
        width: 95vw;
        height: 49vw;
    }

    .inputs-contato {
        width: 100%;
    }

    .comentarios__seta {
        position: absolute;
        transform: rotate(0deg);
        top: 200px;
        font-size: 45px;
        font-weight: 600;
    }

    .marcas {
        grid-template-columns: 1fr 1fr;
        padding: 100px 20px;
    }

    .marcas img {
        width: 80px;
    }

    .premio__logo {
        width: calc(100% - 40px);
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .p-premio {
        font-size: 16px;
    }

    .inputs-contato {
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
    }
    .produtos {
        padding: 0;
    }

    .container-data-machina {
        margin: 50px 0;
    }

    #Logística {
        margin: 0;
    }

    .logo {
        width: 100px;
    }

    .premio__logo--img {
        width: 260px;
    }
    
    .programas-de-aceleracao {
        width: calc(100% - 40px);
    }

    .comentarios__arrow {
        position: initial;
    }    

    .comentarios__temos-orgulho {
        height: 300px;
    }

    .comentarios__arrow::before {
        top: initial;
        right: initial;
        bottom: 60px;
        left: 50%;
    }

    @keyframes comentsArrow {
        0% {
            transform: translatey(0);
        }
        20% {
            transform: translatey(0);
        }
        50% {
            transform: translatey(30px);
        }
        100% {
            transform: translatey(0);
        }
    }
    
    
}