@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: "Roboto slab"; */

:root {
	--dm_azul_00: #0567ff;
	--dm_laranja_00: #f25900;
	--dm_amarelo_00: #ffa400;
	--dm_rosa_00: #f45197;
	--dm_verde_00: #3e9a00;
	--dm_preto_00: #2c2c2c;
	--dm_cinza_01: #606060;
	--dm_creme_00: #faf6f0;
	--dm_creme_02: #fdfbf9;
	--margins: 100px;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--dm_preto_00);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--dm_cinza_01);
	border-radius: 20px;
	border: 3px solid var(--dm_preto_00);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	padding: 0;
	padding-top: 100px;
	margin: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	background: var(--dm_preto_00) !important;
	scroll-behavior: smooth;
}

a {
	text-decoration: none !important;
}

.width {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

.title {
	font-size: 34px;
    font-weight: 600;
    line-height: 38px;
	font-family: "roboto slab";
}

.text__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
}

p {
	line-height: 24px;
	font-size: 18px;
}

.slide__container {
	display: block;
	min-width: 100%;
}

.button__border {
	border: none;
	border: 1px solid var(--dm_creme_02);
	color: var(--dm_creme_02);
	height: 41px;
	text-wrap: nowrap;
	padding: 0 30px;
	background: none;
	font-size: 16px;
	cursor: pointer;
	transition: .2s;
}

.button__border:hover{background:var(--dm_creme_02);color:var(--dm_preto_00);transition: .2s;}
.btn__rosa {
	background: var(--dm_rosa_00);
	padding: 10px 20px ;
	border: none;
	color: var(--dm_creme_02);
	font-size: 16px;
}

.mais, .mais * {
	transition: 0.3s;
}

.mais {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: none;
	height: 45px;
	width: 205px;
	font-size: 16px;
	color: var(--dm_creme_02);
	cursor: pointer;
	padding-left: 42px;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: var(--dm_creme_02);
}

.mais:hover {
	color: var(--dm_rosa_00);
	background: var(--dm_creme_02);
}

.mais:hover .mais__arrow {
	background: var(--dm_rosa_00);
	color: var(--dm_creme_02);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: var(--dm_creme_02);
} 

.mais__arrow {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);
	color: var(--dm_rosa_00);
	border-color: var(--dm_creme_02);
	background: var(--dm_creme_02);
}

.link__ancor {
	position: absolute;
	pointer-events: none;
	bottom: 100%;
	height: 99px;
	width: 100%;
}

/* Header */

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 var(--margins);
	height: 100px;
	left: 0;
	top: 0;
	z-index: 6;
	background: var(--dm_preto_00);
}

header img {
	width: 200px;
}


nav {
	display: flex;
	align-items: center;
	gap: 36px;

}
nav a {
	color: var(--dm_creme_02);
	text-decoration: none;
	font-weight: 600;
	transition: .2s;
}

nav a:hover {
	color: var(--dm_rosa_00);
	transition: .2s;
}

.header__logo {
	width: 120px;
}

.dropdown {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.dropdown * {
	transition: .2s;
}

.header__dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	right: 0;
	top: 100%;
	background: var(--dm_creme_02);
	border-radius: 6px;
	padding: 10px 0;
	min-width: 200px;
	max-width: 400px;
	width: max-content;
    box-shadow: 0 0 30px rgba(0,0,0, 0.2);
}

.header__option {
	width: 100%;
	padding: 10px 20px;
	transition: .2s;
	color: var(--dm_preto_00);
	font-weight: 400;
	cursor: pointer;
	z-index: 1;
}

.header__option:hover {
	transition: .2s;
	background: #FCD3E5;
}

.header__dropdown::before {
	content: '';
	position: absolute;
	top: calc(100% + 10px);
	top: -4px;
	right: 35px;
	margin: auto;
	transform: rotate(45deg);
	width: 20px;
	height: 20px;
	background: var(--dm_creme_02);
	z-index: 1;
}

.header__dropdown, .header__option::before, .dropdown::before {
	pointer-events: none;
	opacity: 0;
}

.drop_actived .header__dropdown, .dropdown:hover * {
	pointer-events: initial;
	opacity: 1;
}

/* Footer */


footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	padding: 0 var(--margins);
    background: var(--dm_preto_00);
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 'logoFooter null null redesSociais';
	justify-items: center;
	gap: 20px;
	padding: var(--margins) 0;
	max-width: 1200px;
    width: 100%;
	margin: auto;
}

.responsividade {
	display: none;
}

.footer__logo {
	height: 52px;
	grid-area: logoFooter;
	object-fit: contain;
}

.footer__sociais {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: redesSociais;
	gap: 16px;
}

.footer__sociais img {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.menu__empresa {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #959595;
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.menu__empresa a:hover {
	transition: 0.2s;
	color: var(--dm_azul_00);
}

.first {
	font-weight: 600;
	color: var(--dm_creme_02);
	text-decoration: none;
}

.footer__link {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
}

.footer__bottom {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: rgb(126, 126, 126);
	margin-bottom: 30px;
	margin-top: 100px;
}

.footer__bottom p {
	font-size: 14px;
}

.footer__bottom::after {
	content: '';
	background: rgb(126, 126, 126);
	height: 1px;
	width: 100%;
	position: absolute;
	top: -15px;
}

.footer__tre {
	height: 25px;
	height: 25px;
	object-fit: contain;
}

.logos-bottom {
	display: flex;
	align-items: center;
	height: 50px;
}

.logos-bottom img:first-child {
	width: 40px;
	margin-right: 25px;
	margin-bottom: 3px;
}

.logo-zap {
	z-index: 1;
}

.vagas {
	font-size: 14px;
}

.links {
	color: #7a7a7a;
	text-decoration: none;
}

.footer__mapalytics {
	position: relative;
}

.footer__mapalytics img {
	height: 32px;
	object-fit: contain;
}

.footer__mapalytics::after {
	content: '';
	position: absolute;
	top: -20px;
	z-index: 1;
	left: 0;
	background: var(--dm_rosa_00);
	height: 4px;
	width: 100%;
}

.footer__bottom--items {
	display: flex;
	align-items: center;
	gap: 32px;
}

@media screen and (max-width: 1000px) {
	/* Globais */

	:root {
		--margins: 20px;
	}

	p {
		font-size: 16px;
	}

	h1 {
		font-size: 34px;
	}

	br {
		display: none;
	}

	/* Footer */

	.footer__container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'n n' 'logoFooter redesSociais';
		margin: 100px 0 0 0;
		gap: 82px 0;
	}

	footer {
		margin: 0 var(--margins);
	}
}


@media screen and (max-width: 800px) {

	/* Footer */

	.footer__logo {
		height: 100%;
		width: 100px;
		object-fit: contain;
		object-position: center;
	}

	.footer__sociais img {
		width: 24px;
		height: 24px;
	}

	.footer__bottom {
		gap: 30px;
	}

	.seta-1 {
		left: 75px;
	}
	
	footer * {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {

	/* Globais */
	
	h1 {
		font-size: 28px;
	}
	
	h2, .title {
		font-size: 24px;
		line-height: 30px;
	}

	/*  */
}

@media screen and (max-width: 500px) {

	.footer__link {
		gap: 20px;
		margin-top: 20px;
	}

	.footer__container, .footer__bottom {
		display: flex;
		flex-direction: column;
	}

	.footer__container {
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 60px;
	}


}