@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: "Roboto slab"; */

:root {
	--dm_azul_00: #0567ff;
	--dm_laranja_00: #f25900;
	--dm_amarelo_00: #ffa400;
	--dm_rosa_00: #f45197;
	--dm_verde_00: #3e9a00;
	--dm_preto_00: #2c2c2c;
	--dm_cinza_01: #606060;
	--dm_creme_00: #faf6f0;
	--dm_creme_02: #fdfbf9;
	--margins: 100px;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--dm_preto_00);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--dm_cinza_01);
	border-radius: 20px;
	border: 3px solid var(--dm_preto_00);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

body {
	position: relative;
	padding: 0;
	padding-top: 100px;
	margin: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	background: var(--dm_preto_00);
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.width {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

.title {
	font-size: 34px;
    font-weight: 600;
    line-height: 38px;
	font-family: "roboto slab";
}

.text__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
}

p {
	line-height: 24px;
	font-size: 18px;
}

.slide__container {
	display: block;
	min-width: 100%;
}

.button__border {
	border: none;
	border: 1px solid var(--dm_creme_02);
	color: var(--dm_creme_02);
	height: 41px;
	text-wrap: nowrap;
	padding: 0 30px;
	background: none;
	font-size: 16px;
	cursor: pointer;
	transition: .2s;
}

.button__border:hover{background:var(--dm_creme_02);color:var(--dm_preto_00);transition: .2s;}


.mais, .mais * {
	transition: 0.3s;
}

.mais {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: none;
	height: 45px;
	width: 205px;
	font-size: 16px;
	color: var(--dm_creme_02);
	cursor: pointer;
	padding-left: 42px;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: var(--dm_creme_02);
}

.mais:hover {
	color: var(--dm_rosa_00);
	background: var(--dm_creme_02);
}

.mais:hover .mais__arrow {
	background: var(--dm_rosa_00);
	color: var(--dm_creme_02);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: var(--dm_creme_02);
} 

.mais__arrow {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);
	color: var(--dm_rosa_00);
	border-color: var(--dm_creme_02);
	background: var(--dm_creme_02);
}

/*  */
/*  */
/*  */
/*  */
/*  */

/* Header */

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 var(--margins);
	height: 100px;
	left: 0;
	top: 0;
	z-index: 6;
	background: var(--dm_preto_00);
}

header img {
	width: 200px;
}


nav {
	display: flex;
	align-items: center;
	gap: 36px;

}
nav a {
	color: var(--dm_creme_02);
	text-decoration: none;
	font-weight: 600;
	transition: .2s;
}

nav a:hover {
	color: var(--dm_rosa_00);
	transition: .2s;
}

.header__logo {
	width: 120px;
}

.nav__active {
	position: relative;
}

.nav__active::before {
	content: 'novo';
	position: absolute;
	color: var(--dm_rosa_00);
	left: calc(100% - 20px);
	top: -18px;
	font-size: 14px;
}

/* Banner */

.banner {
	position: relative;
	background-color: var(--dm_rosa_00);
	height: calc(100vh - 100px);
	overflow: hidden;
}

.banner__container {
	display: grid;
    grid-template-columns: 3fr max-content;
    padding: 100px 0;
	height: 100%;
	max-width: 1200px;
	min-height: 800px;
	margin: auto;
    color: var(--dm_creme_02);
}

.banner__texts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	z-index: 2;
}

.banner__p-2 {
	padding-top: 0.5rem;
	color: var(--cremes-dm-creme-00, #FAF6F0);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

h1 {
	color: var(--cremes-dm-creme-00, #FAF6F0);
	font-size: 54px;
	font-weight: 600;
	font-family: "Roboto slab";
}

.banner__logo {
	margin-top: 1rem;
	height: 42px;
	object-fit: contain;
	flex-shrink: 0;
	z-index: 2;
}


.banner__video--container {
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 100%;
    left: 0;
	top: 0;
	object-fit: contain;
	z-index: 1;
}

.video {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: auto;
}

.banner__video--book {
	position: absolute;
	height: 640px;
    right: -120px;
	bottom: -100px;
}

/* Mapalytics */

.mapalytics {
	position: relative;
    background: var(--dm_creme_00);
	min-width: 100%;
	min-height: 458px;
}

.mapalytics__container--1, .mapalytics__container--2 {
	display: grid;
	align-items: center;
	position: relative;
	height: 100%;
	width: calc(100% - 40px);
	max-width: 1200px;
	margin: auto;
}

.mapalytics__container--1 {
	grid-template-columns: 1fr 1.4fr;
	
}

.container__video--1 {
	position: relative;
	height: 100%;
	width: 100%;
}

.mapalytics__texts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	background: #fdfbf920;
    backdrop-filter: blur(22px);
    z-index: 1;
}

.mapalytics__video--1  {
	height: 100%;
	width: 100%;
	object-position: bottom right;
	object-fit: cover;
}


.mapalytics__video--1 {
	position: absolute;
	right: 0;
}

.mapalytics__video--ctn-1 {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.container__video--2 {
	position: absolute;
	display: grid;
	height: 100%;
	width: 100%;
}

.container__video--2, .mapalytics__container--2 {
	grid-template-columns: 810px 1fr;
}

.mapalytics__video--ctn-2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mapalytics__video--2 {
	height: 100%;
	width: 100%;
}

h2 {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 15px;
	color: var(--dm_rosa_00);
	z-index: 2;
}

.mapalytics__map {
	width: 100%;
}

.titulo-2 {
	font-weight: 400;
	color: var(--dm_preto_00);
	width: 100%;
	z-index: 2;
}

/* Alimentação */

.alimentacao {
	background: var(--dm_preto_00);
}

.alimentacao__white {
	height: 100%;
	background: var(--dm_creme_02);
}

.alimentacao__container--1, .alimentacao__container--2 {
	display: grid;
	align-items: center;
	gap: 40px;	
	padding: 100px var(--margins);
}

.alimentacao__container--1 {
	grid-template-columns: 1.2fr 1fr;
}

.alimentacao__container--2 {
	grid-template-columns: 1fr 1.2fr;
}

.alimentacao__animation {
	width: 100%;
	object-fit: contain;
}

.alimentacao .title, .alimentacao__description {
	color: var(--dm_creme_02);
	font-family: "roboto";
}

.alimentacao .title span {
	color: var(--dm_rosa_00);
	font-style: italic;
    font-weight: 800;
}

.alimentacao__white .title, .alimentacao__white .alimentacao__description {
	color: var(--dm_preto_00);
}

/* -- CARROSSEL -- */

.carrossel__container--2 {
	display: grid;
	grid-template-columns: 1fr 2.2fr;
	align-items: center;
	height: 750px;
}

.carrossel__2 {
	display: grid;
	grid-template-columns: 1fr 2.2fr;
	margin: 0 0 0 var(--margins);
}

.carrossel__component {
	position: relative;
	display: flex;
    width: 100%;
	min-height: 200px;
	overflow: hidden;
}

.controlls {
	position: absolute;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
	bottom: 40px;
	gap: 10px;
	z-index: 2;
	transition: 2s;
}

#carrossel__slider {
	display: flex;
	width: 100%;
	transition: .5s;
}

.controlls__btn {
	background: #D9D9D9;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: none;
	transition: .2s;
	cursor: pointer;
}
.controlls__btn:hover, .controlls__btn--selected {
	background: var(--dm_rosa_00);
	transition: .2s;
}

/* Básico */

.basico {
	background: #363535;
}

.carrossel__ctn--column-1 {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 100px 0;
	padding-right: 60px;
	background: var(--dm_rosa_00);
	width: 100%;
	color: var(--dm_creme_02);
}


.carrossel__ctn--column-1::before {
	content: '';
	position: absolute;
	background: var(--dm_rosa_00);
	right: 100%;
	width: 200px;
	height: 100%;
}

.basico__column-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px;
    min-width: 100%;
	padding: 100px var(--margins) 100px 40px;
	color: var(--dm_creme_02);
}

.basico__column-2 * {
	font-family: "Roboto" !important;
	font-size: 14px;
}

.background__white {
	position: relative;
	background: var(--dm_creme_02);
	color: var(--dm_preto_00);
}

.basico__title, .basico__title * {
	font-size: 28px;
}

.basico__img {
	width: 100%;
}

.btn__white {
	background: #FAF6F0;
	color: var(--dm_rosa_00);
	border: none;
	padding: 6px 10px;
	font-size: 20px;
	width: max-content;
	font-weight: 600;
	transition: .2s;
	cursor: pointer;
	z-index: 2;
}

.btn__white:hover {
	background: #dad4ce;
	transition: .2s;
}

.basico__list--title {
	color: var(--dm_rosa_00);
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.basico__list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.basico__list--check__white .basico__item::before {
	background: none;
	color: var(--dm_creme_02);
}

.basico__list--check__black .basico__item::before {
	color: var(--dm_preto_00);
}

.basico__item {
	position: relative;
	margin-left: 22px;
	font-weight: 500;
    line-height: 21px;
	letter-spacing: 0.2px;
}

.basico__item::before {
	content: '✓';
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--dm_creme_02);
	position: absolute;
	background-image: url('../../public/icones/check.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-weight: 900;
	width: 16px;
	height: 16px;
	left: -28px;
	z-index: 1;
}

.basico__item--first {
	font-weight: 600;
	font-style: italic;
}

.text__text {
    padding-top: 50px;
}

/* Formulário */

.forms {
	overflow: hidden;
	color: var(--dm_creme_02);
}

.forms__container {
	display: grid;
	grid-template-columns: 1fr 1.4fr;
	align-items: center;
	gap: 40px;
	margin-left: var(--margins);
}

.forms__formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: var(--dm_creme_02);
	padding: 100px 0;
	width: 100%;
}

.forms__formulario::after {
	content: '';
	position: absolute;
	left: 100%;
	background: var(--dm_creme_02);
	height: 100%;
	width: 30vw;
	top: 0;
}

.forms__formulario--content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
	width: 100%;
	height: 100%;
}

.forms__formulario--content input {
	border: 2px solid gray;
	padding: 10px 20px;
}

.forms__text--rosa {
	color: var(--dm_rosa_00);
	font-weight: 600;
}

.forms__column--1 {
	position: relative;
	display: flex;
	align-items: center;
	width: 300px;
	padding: 100px 0;
	margin: auto;
}

.forms__seta {
	display: block;
	position: absolute;
	right: 0;
	font-size: 42px;
	animation: arrowAnime 4s infinite;
}

@keyframes arrowAnime {
	0% {
		transform: translatex(0);
	}
	20% {
		transform: translatex(0);
	}
	50% {
		transform: translatex(30px);
	}
	100% {
		transform: translatex(0);
	}
}
/* Tudo */

.tudo {
	background: var(--dm_creme_02);
}

/*  */

.mapalytics__notebook-2 {
	position: absolute;
	height: 100%;
	object-fit: cover;
	width: 600px;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.presentation-bloco {
	background-color: #D9D9D9;
	width: 670px;
	height: 500px;
	flex-shrink: 0;
}

.varejo-h1 {
	color: var(--dm_preto_00);
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	height: 40px;
	width: 100%;
}

.varejo__p {
	margin-top: 30px;
	width: 430px;
	color: var(--dm_preto_00);
	font-style: normal;
	font-weight: 500;
}

.varejo__p span {
	color: var(--dm_rosa_00);
	font-weight: 500;
}

.presentation3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 570px;
	width: 100%;
	background: var(--dm_preto_00);
	color: var(--dm_creme_00)
}

.tenha-acesso-container {
	background-color: var(--dm_rosa_00);
	width: 100%;
	height: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 0 20px;
	text-align: center;
	color: var(--dm_creme_02);
}

.contato {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contato__conhecer {
	background: var(--dm_azul_00);
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contato__quer {
	margin: auto;
	color: var(--dm_creme_02);
	width: 300px;
	position: relative;
}

.melhor {
	font-size: 16px;
}

.manda {
	display: inline-block;
	margin-bottom: 30px;
	font-family: "Roboto Slab";
	font-size: 34px;
	font-weight: 600;
}

.seta-1 {
	position: absolute;
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	left: 175px;
	bottom: 78px;
	color: var(--dm_creme_02);
}

.email {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 50px;
	border: 1px solid var(--dm_creme_02);
	color: var(--dm_creme_02);
	transition: 0.5s;
	cursor: pointer;
}

.email:hover {
	background: var(--dm_creme_02);
	color: black;
	transition: 0.3s;
}

input[type="text"],
input[type="email"],
.mensagem {
	padding-left: 15px;
}

::placeholder {
	font-size: 16px;
}

.seu-nome,
.seu-melhor-email {
	height: 38px;
}

.seu-nome,
.seu-melhor-email,
.mensagem {
	border: 1px solid var(--dm_preto_00);
	margin-bottom: 15px;
}

footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	height: 100%;
	margin: 0 var(--margins);
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 'logoFooter null null redesSociais';
	justify-items: center;
	gap: 20px;
	padding: var(--margins) 0;
	max-width: 1200px;
    width: 100%;
	margin: auto;
}

.responsividade {
	display: none;
}

.footer__logo {
	height: 52px;
	grid-area: logoFooter;
	object-fit: contain;
}

.footer__sociais {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: redesSociais;
	gap: 16px;
}

.footer__sociais img {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.menu__empresa {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #959595;
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.menu__empresa a:hover {
	transition: 0.2s;
	color: var(--dm_azul_00);
}

.first {
	font-weight: 600;
	color: var(--dm_creme_02);
}

.footer__link {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
}

.footer__bottom {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: rgb(126, 126, 126);
	margin-bottom: 30px;
	margin-top: 100px;
}

.footer__bottom p {
	font-size: 14px;
}

.footer__bottom::after {
	content: '';
	background: rgb(126, 126, 126);
	height: 1px;
	width: 100%;
	position: absolute;
	top: -15px;
}

.footer__tre {
	height: 25px;
	height: 25px;
	object-fit: contain;
}

.logos-bottom {
	display: flex;
	align-items: center;
	height: 50px;
}

.logos-bottom img:first-child {
	width: 40px;
	margin-right: 25px;
	margin-bottom: 3px;
}

.logo-zap {
	z-index: 1;
}

.vagas {
	font-size: 14px;
}

.links {
	color: #7a7a7a;
}

.footer__mapalytics {
	position: relative;
}

.footer__mapalytics img {
	height: 32px;
	object-fit: contain;
}

.footer__mapalytics::after {
	content: '';
	position: absolute;
	top: -15px;
	z-index: 1;
	left: 0;
	background: var(--dm_rosa_00);
	height: 4px;
	width: 100%;
}

.footer__bottom--items {
	display: flex;
	align-items: center;
	gap: 32px;
}

@media screen and (max-width: 1200px) {
	.banner__video--book {
		right: -100px
	}

	.banner__container {
		margin: 0 var(--margins) 0 var(--margins);
	}

}

@media screen and (max-width: 1000px) {
	:root {
		--margins: 20px;
	}

	p {
		font-size: 16px;
	}

	h1 {
		font-size: 34px;
	}

	br {
		display: none;
	}

	/* Banner */

 	.banner__container {
		gap: 50px;	
		min-height: max-content;
		padding: 40px 0 0 0;
	}

	.banner__video--container {
		position: relative;
		padding: 0;
	}
	
	.banner {
		height: 100%;
	}

	.banner__container, .banner__texts {
		display: flex;
		gap: 20px;
		flex-direction: column;
	}

	.video {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.banner__video--book {
		position: relative;
		right: initial;
		width: 140%;
		height: 100%;
		bottom: initial;
	}

	/* Formulário */
	
	.forms__container {
		margin: 0;
	}

	.forms__formulario::after {
		display: none;
	}

	.forms__formulario--content {
		padding: 0 var(--margins);
	}

	/* Mapalytics Slide */

	.mapalytics__texts {
		margin: 40px 0;
	}

	.alimentacao__container--1, .alimentacao__container--2 {
		margin: 0 var(--margins);
	}
	/* --1 */

	.mapalytics__container--1{
		display: flex;
		flex-direction: column;
	}
	
	.mapalytics__video--ctn-1 {
		object-fit: contain;
		object-position: bottom;
	}

	.carrossel__ctn--column-1 {
		padding-left: var(--margins);
	}

	.mapalytics__video--1 {
		position: relative;
	}

	/* --2 */
	.mapalytics__video--ctn-2 {
		object-position: bottom;
	}

	.container__video--2, .mapalytics__container--2 { 
		grid-template-columns: 1.6fr 1fr;
		display: flex;
		flex-direction: column;
	}

	.carrossel__2 {
		margin: 0;
	}

	.container__video--2 {
		padding-top: 320px;
	}

	.mapalytics__container--2 {
		padding-bottom: 200px;
	}


	/* Footer */

	.footer__container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'n n' 'logoFooter redesSociais';
		margin: 100px 0 0 0;
		gap: 82px 0;
	}

	footer {
		margin: 0 var(--margins);
	}
}

@media screen and (max-width: 800px) {

	.alimentacao__container--1, .alimentacao__container--2, .carrossel__2 {
		display: flex;
		flex-direction: column;
	}

	.forms__container {
		display: flex;
		flex-direction: column;
	}

	.forms__seta {
		right: initial;
		margin: auto;
		bottom: 50px;
	}

	.forms__column--1 {
		justify-content: center;
	}

	@keyframes arrowAnime {
		0% {
			transform: translatex(0) translatey(0) rotate(90deg);
		}
		20% {
			transform: translatex(0) translatey(0) rotate(90deg);
		}
		50% {
			transform: translatex(0) translatey(30px) rotate(90deg);
		}
		100% {
			transform: translatex(0) translatey(0) rotate(90deg);
		}
	}

	/*  */

	.controlls {
		gap: 30px;
	}
	.basico__column-2 {
		border-bottom: 1px solid var(--dm_rosa_00);
	}
	
	
	/* Footer */

	.footer__logo {
		height: 100%;
		width: 100px;
		object-fit: contain;
		object-position: center;
	}

	.footer__sociais img {
		width: 24px;
		height: 24px;
	}

	.footer__bottom {
		gap: 30px;
	}

	.seta-1 {
		left: 75px;
	}
	
	footer * {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 28px;
	}
	
	h2, .title {
		font-size: 24px;
		line-height: 30px;
	}


	/*  */

	.basico__column-2 {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	

}

@media screen and (max-width: 500px) {
	
	.footer__container, .footer__bottom {
		display: flex;
		flex-direction: column;
	}

	.footer__container {
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 60px;
	}

	.footer__link {
		gap: 20px;
		margin-top: 20px;
	}
	
}