@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: "Roboto slab"; */

:root {
	--dm_azul_00: #0567ff;
	--dm_laranja_00: #f25900;
	--dm_amarelo_00: #ffa400;
	--dm_rosa_00: #f45197;
	--dm_verde_00: #3e9a00;
	--dm_preto_00: #2c2c2c;
	--dm_cinza_01: #606060;
	--dm_creme_00: #faf6f0;
	--dm_creme_02: #fdfbf9;
	--dm__00: ;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--dm_preto_00);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--dm_cinza_01);
	border-radius: 20px;
	border: 3px solid var(--dm_preto_00);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	background: var(--dm_preto_00);
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--dm_creme_02) !important;
}

.width {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

.title {
	font-size: 34px;
    font-weight: 600;
    line-height: 38px;
	font-family: "roboto slab";
}

.text__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

p {
	line-height: 22px;
}

/*  */
/*  */
/*  */
/*  */
/*  */

/* Header */

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 15vw 0 15vw;
	height: 100px;
	z-index: 100;
	background: var(--dm_preto_00);
	background-size: 1000px;
	z-index: 100;
}

/* Banner */

.banner {
	background-color: var(--dm_rosa_00);
}

.banner__container {
	display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    height: 800px;
    padding: 200px 0;
    color: var(--dm_creme_02);
	overflow: hidden;
}

.banner__texts {
	z-index: 2;
}

.banner__p-2 {
	padding-top: 0.5rem;
	color: var(--cremes-dm-creme-00, #FAF6F0);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

h1 {
	color: var(--cremes-dm-creme-00, #FAF6F0);
	font-size: 45px;
	font-weight: 600;
	font-family: "Roboto slab";
}

.banner__logo {
	margin-top: 1rem;
	width: 150px;
	height: 120px;
	flex-shrink: 0;
	z-index: 2;
}

.banner__notebook-1 {
	position: absolute;
    right: 0;
	bottom: -140px;
    height: 700px;
	z-index: 1;
}

/* Mapalytics */

.mapalytics {
	position: relative;
    background: var(--dm_creme_00);
}

.mapalytics__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
    padding: 140px 0;
}

.mapalytics__texts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
}

h2 {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 15px;
	color: var(--dm_rosa_00);
	z-index: 2;
}

.titulo-2 {
	font-weight: 400;
	color: var(--dm_preto_00);
	width: 100%;
	z-index: 2;
}

/* Alimentação */

.alimentacao {
	background: var(--dm_preto_00);
	padding: 100px 0;
}

.alimentacao__container {
	display: grid;
	grid-template-columns: 1.6fr 1fr;
	align-items: center;
	gap: 40px;	
}

.alimentacao__animation {
	width: 100%;
	object-fit: contain;
}

.alimentacao .title {
	color: var(--dm_creme_02);
	font-family: "roboto";
}

.alimentacao .title span {
	color: var(--dm_rosa_00);
}

.alimentacao__description {
	color: var(--dm_creme_02);
}


/* Básico */

.basico {
	background: #363535;
}

.basico__container {
	display: grid;
	grid-template-columns: 1fr 1.6fr;
}

.basico__column--1 {
	background: var(--dm_rosa_00);
	width: 100%;
	padding: 100px 40px;
	color: var(--dm_creme_02);
}

.basico__column-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding: 100px 40px;
	color: var(--dm_creme_02);
}

.basico__column-2 * {
	font-family: "Roboto" !important;
}

.basico__img {
	width: 100%;
}

.btn__white {
	background: var(--dm_creme_02);
	color: var(--dm_rosa_00);
	border: none;
	padding: 6px 10px;
	font-size: 20px;
	font-weight: 600;
}

.basico__list--title {
	color: var(--dm_rosa_00);
	font-size: 20px;
	font-weight: 500;
}

.basico__list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.basico__item {
	position: relative;
	font-size: 14px;
	margin-left: 22px;
}

.basico__item::before {
	content: '';
	position: absolute;
	background: var(--dm_creme_02);
	background-image: url('../../public/icones/check.svg');
	width: 16px;
	height: 16px;
	left: -28px;
}


/*  */

.bg-dark-color {
	background: var(--dm_preto_00);
	background-size: 1000px;
}

header img {
	width: 200px;
}

.container-menu {
	display: flex;
	align-items: center;
	color: var(--dm_creme_02);
	font-size: 16px;
	font-weight: 500;
	z-index: 100;
}

.container-menu p {
	margin-left: 2vw;
	padding: 5px;
	transition: 0.2s;
	cursor: pointer;
}
.logo {
	transform: translatey(5px);
	width: 120px;
}

.navbar {
	display: none;
	color: var(--dm_creme_02);
}

.bg-light-color {
	filter: invert(100%);
}

.navbar .collapse .navbar-nav .nav-link {
	color: var(--dm_creme_02);
	font-weight: 600;
	margin: 10px;
	width: 100%;
	justify-content: flex-end;
	transition: 0.3s;
}

.navbar .collapse .navbar-nav .nav-link:hover {
	color: var(--dm_azul_00);
	transition: 0.2s;
}

.mapalytics__notebook-2 {
	position: absolute;
	height: 100%;
	object-fit: cover;
	width: 600px;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.presentation-bloco {
	background-color: #D9D9D9;
	width: 670px;
	height: 500px;
	flex-shrink: 0;
}

.varejo-h1 {
	color: var(--dm_preto_00);
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	height: 40px;
	width: 100%;
}

.varejo__p {
	margin-top: 30px;
	width: 430px;
	color: var(--dm_preto_00);
	font-style: normal;
	font-weight: 500;
}

.varejo__p span {
	color: var(--dm_rosa_00);
	font-weight: 500;
}

.presentation3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 570px;
	width: 100%;
	background: var(--dm_preto_00);
	color: var(--dm_creme_00)
}

.vai-bem-para-serviços {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 390px;
	height: auto;
}

.vai-bem-h1 {
	color: var(--dm_creme_00);
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	height: 40px;
	width: 100%;
}

.vai-bem-text {
	margin-top: 30px;
	width: 430px;
	color: var(--dm_creme_00);
	font-style: normal;
	font-weight: 400;
}

.vai-bem-text span {
	color: var(--dm_rosa_00);
	font-weight: 500;
}

.tenha-acesso-container {
	background-color: var(--dm_rosa_00);
	width: 100%;
	height: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 0 20px;
	text-align: center;
	color: var(--dm_creme_02);
}

.seta img {
	transform: rotate(180deg);
}

.saiba-mais {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: none;
	color: var(--dm_creme_02);
	height: 45px;
	width: 205px;
	position: relative;
	font-size: 16px;
	margin-top: 40px;
	cursor: pointer;
	padding-left: 42px;
}

.saiba-mais:hover {
	transition: 0.3s;
	border-width: 1px 0 1px 1px;
}

.saiba-mais {
	border-style: solid;
	border-width: 1px 0 1px 1px;
	transition: 0.3s;

}

.saiba-mais {
	border-color: var(--dm_creme_02);
}

.ir {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);
	transition: 0.3s;

	color: var(--dm_rosa_00);
	border: var(--dm_creme_02);
	background: var(--dm_creme_02);
}

.ir:hover {
	border: 1px solid;
}

.saiba-mais:hover .ir {
	border-color: var(--dm_rosa_00);
}

.ir:hover {
	border-color: var(--dm_rosa_00);
}

.contato {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--dm_creme_02);
}

.quer-nos-conhecer-container {
	background: var(--dm_azul_00);
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quer-nos-conhecer {
	margin: auto;
	color: var(--dm_creme_02);
	width: 300px;
	position: relative;
}

.melhor {
	font-size: 16px;
}

.manda {
	display: inline-block;
	margin-bottom: 30px;
	font-family: "Roboto Slab";
	font-size: 34px;
	font-weight: 600;
}

.seta-1 {
	position: absolute;
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	left: 175px;
	bottom: 78px;
	color: var(--dm_creme_02);
}

.email {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 50px;
	border: 1px solid var(--dm_creme_02);
	transition: 0.5s;
	cursor: pointer;
}

.email:hover {
	background: var(--dm_creme_02);
	color: black;
	transition: 0.3s;
}

input[type="text"],
input[type="email"],
.mensagem {
	padding-left: 15px;
}

::placeholder {
	font-size: 16px;
}

.seu-nome,
.seu-melhor-email {
	height: 38px;
}

.seu-nome,
.seu-melhor-email,
.mensagem {
	border: 1px solid var(--dm_preto_00);
	margin-bottom: 15px;
}

.mensagem {
	height: 100px;
}

.enviar {
	border: none;
	height: 35px;
	color: var(--dm_creme_02);
	font-size: 16px;
	background: var(--dm_azul_00);
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
}

.enviar:hover {
	background: var(--dm_azul_00);
	transition: 0.2s;
}

footer {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.responsividade {
	display: none;
}

.footer {
	display: grid;
	grid-template-areas: 'logo empresa solucoes sociais';
	height: 350px;
	width: 100%;
	justify-content: center;
	gap: 120px;
	padding: 40px 230px 40px 230px;
	color: var(--dm_creme_02);
}

.redes-sociais {
	grid-area: sociais;
}

.footer__logo {
	grid-area: logo;
	width: 140px;
	height: 92px;
	object-fit: contain;
}

.menu__empresa {
	grid-area: empresa;

}

.menu__solucoes {
	grid-area: solucoes;

}

.menu__empresa,
.menu__solucoes {
	margin-top: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	color: var(--dm_cinza_01);
	font-size: 21px;
	cursor: pointer;
	transition: 0.3s;
}

.menu__empresa p:hover,
.menu__solucoes p:hover {
	transition: 0.2s;
	color: var(--dm_azul_00);
}

.first {
	font-weight: 600;
	color: var(--dm_creme_02);
}

.menu__empresa p,
.menu__solucoes p {
	margin-bottom: 20px;
}


.footer-imagens {
	padding-top: 15px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 22px;
}

.footer-imagens img {
	width: 25px;
	margin: 0 10px 30px;
}

.trabalhe-conosco {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 16px;
	border: 1px solid var(--dm_creme_02);
	padding: 12px 5px 12px 5px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: 0.5s;
}

.trabalhe-conosco:hover {
	background: var(--dm_creme_02);
	color: black;
	transition: 0.3s;
}

.footer-bottom {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(126, 126, 126);
	margin-bottom: 30px;
	margin-top: 100px;
}

.footer-bottom p {
	font-size: 14px;
}

.divisor {
	background: rgb(126, 126, 126);
	height: 1px;
	width: calc(100% - 200px);
	position: absolute;
	top: -15px;
}

.tre-img {
	margin-left: 20px;
	height: 25px;
}

.logos-bottom {
	display: flex;
	align-items: center;
	height: 50px;
}

.logos-bottom img:first-child {
	width: 40px;
	margin-right: 25px;
	margin-bottom: 3px;
}

.logo-zap {
	z-index: 1;
}

.vagas {
	font-size: 14px;
}

.links {
	color: #7a7a7a;
}

@media (max-width: 1200px) {
	.melhor {
		text-align: center;
	}

	[br] {
		display: none;
	}

	.manda {
		font-size: 22px;
	}

	.unidade-footer-1,
	.unidade-footer-2,
	.unidade-footer-3 {
		height: 90px;
	}

	.titulo-1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.titulo-2 {
		font-size: 14px;

	}

	.unidade-footer img {
		height: 35px;
	}

	.contato {
		grid-template-columns: 1fr;
	}

	.quer-nos-conhecer-container {
		width: 100%;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.quer-nos-conhecer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.seta-1 {
		left: 0;
		bottom: 22px;
		cursor: default;
		position: relative;
	}

	.carousel-item p {
		font-size: 16px;
	}

	.cnt {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 260px;
		margin-left: 45px;
		height: 400px;
	}

	.depoimentos p {
		font-size: 22px;
		margin: 10px;
	}

	.depoimentos .seta-2 {
		top: 200px;
	}

	.mapalytics__texts {
		width: 400px;
	}
}

@media (max-width: 1000px) {
	.footer-container {
		padding: 40px 5vw 40px 5vw;
	}

	.banner__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
	}

	.container-menu p {
		margin-left: 5px;
		padding: 5px;
		transition: 0.2s;
		cursor: pointer;
	}

	.banner__texts {
		margin: 50px;
	}

	.banner br {
		display: none;
	}

	.banner__p-2 {
		text-align: center;
		margin-left: 0;
		margin-top: 20px;
	}

	h1 {
		font-size: 30px;
	}

	.footer {
		display: grid;
		grid-template-areas: 'logo sociais' 'empresa solucoes';
		height: max-content;
		gap: 10px 10vw;
		text-align: center;
		padding: 40px;
	}
	
	.navbar {
		display: block;
	}

	.container-menu {
		display: none;
	}

	.banner__container {
		padding-top: 70px;
	}

	header {
		display: none;
	}

	.logo {
		margin-bottom: 10px;
	}
}

@media (max-width: 600px) {

	.titulo-2 {
		font-size: 17px;
	}

	.depoimentos {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--dm_creme_02);
		width: 100%;
		height: 400px;
		font-family: "Roboto Slab";
		font-size: 34px;
		font-weight: 600;
	}

	.button-carrossel-container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
	}

	.banner__container {
		gap: 0px;
	}

	.banner__texts {
		width: calc(100% - 60px);
	}

	.footer-container {
		grid-template-columns: 1fr 1fr;
		padding: 0;
	}


	.footer-logo-responsividade {
		display: block;
	}

	.footer-imagens {
		display: flex;
		margin: 10px;
		width: max-content;
	}

	.footer-bottom p {
		font-size: 14px;
	}

	.grid-bottom {
		padding-top: 15px;
		width: 260px;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 30px;
	}

	.tre-img {
		padding-left: 20px;
	}

	.footer-container {
		padding: 0;
	}

	.footer-bottom {
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.grid-bottom {
		padding-top: 25px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	.logos-bottom {
		margin-right: 0;
	}

	.tre-img {
		margin: 0;
	}

	.seta-2 {
		display: none;
	}

	.depoimentos p br {
		display: none;
	}

	.depoimentos p {
		text-align: center;
	}

	.banner__p-2 {
		font-size: 15px;
	}

	.container-comentarios {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.button-carrossel-container {
		display: flex;
		flex-direction: row-reverse;
	}

	.cnt {
		width: calc(100% - 40px);
		margin-left: 0;
		margin: auto;
	}

	.titulo-1 {
		font-size: 26px;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}

	.unidade-footer-1,
	.unidade-footer-2,
	.unidade-footer-3 {
		height: 50px;
	}

	.unidade-footer img {
		height: 24px;
	}

	.container-comentarios {
		display: flex;
		flex-direction: column;
	}

	.banner__texts {
		width: calc(100% - 40px);
		margin: 30px;
	}

	.banner br {
		display: none;
	}

	.banner__p-2 {
		font-size: 16px;
		text-align: left;
	}

	.quer-nos-conhecer-container {
		background: var(--dm_azul_00);
		width: 100%;
		height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.quer-nos-conhecer {
		width: calc(100% - 20px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.manda {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.seta-1 {
		position: initial;
		font-size: 35px;
		text-align: center;
		margin-bottom: 10px;
	}

	.inputs-contato {
		width: 100%;
	}


	.footer-logo {
		height: 16px;
	}

	.footer-logo-responsividade img {
		width: 120px;
	}

	.menu__empresa,
	.menu__solucoes {
		font-size: 16px;
	}

	.depoimentos .seta-2 {
		position: absolute;
		transform: rotate(0deg);
		top: 200px;
		font-size: 45px;
		font-weight: 600;
	}


	.inputs-contato {
		width: calc(100% - 40px);
		display: flex;
		flex-direction: column;
	}

	.email {
		width: 100%;
		font-size: 14px;
	}

	footer {
		width: calc(100% - 40px);
		margin: auto;
	}

	.mapalytics__container {
		margin: 0;
	}

	#Logística {
		margin: 0;
	}

	.logo {
		width: 100px;
	}

	.unidade-footer-1 {
		padding-right: 12px
	}

	.unidade-footer-2 img,
	.unidade-footer-3 img {
		margin-left: 12px;
	}
}