footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	padding: 0 var(--margins);
    background: var(--dm_preto_00);
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 'logoFooter null null redesSociais';
	justify-items: center;
	gap: 20px;
	padding: var(--margins) 0;
	max-width: 1200px;
    width: 100%;
	margin: auto;
}

.responsividade {
	display: none;
}

.footer__logo {
	height: 52px;
	grid-area: logoFooter;
	object-fit: contain;
}

.footer__sociais {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: redesSociais;
}

.footer__sociais img {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.footer__empresa {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #959595;
	transition: 0.3s;
}

.footer__first {
	font-size: 18px;
	height: 28px;
	font-weight: 600;
	color: var(--dm_creme_02);
}

.footer__link {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
}

.footer__bottom {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 36px;
	color: rgb(126, 126, 126);
	margin-bottom: 30px;
}

.footer__bottom p {
	font-size: 14px;
	margin-bottom: 0;
}

.footer__bottom::after {
	content: '';
	background: rgb(126, 126, 126);
	height: 1px;
	width: 100%;
	position: absolute;
	top: -15px;
}

.footer__tre {
	width: 25px;
	height: 25px;
	object-fit: contain;
	object-position: center;
}

.logos-bottom {
	display: flex;
	align-items: center;
	height: 50px;
}

.logos-bottom img:first-child {
	width: 40px;
	margin-right: 25px;
	margin-bottom: 3px;
}

.logo-zap {
	z-index: 1;
}

.vagas {
	font-size: 14px;
}

.footer__links {
	color: #7a7a7a;
	text-decoration: none;
	background: none;
	border: none;
	font-size: 16px;
	height: 24px;
	text-align: start;
	transition: .2s;
}

.footer__links:hover { 
	transition: .2s;
	color: var(--dm_creme_02);
}

.footer__bottom--items {
	display: flex;
	align-items: center;
	gap: 32px;
	height: 36px;
}

.dm-footer__mapalytics {
	position: relative;
}

.footer__logo--dm, .footer__mapalytics--logo {
	height: 36px;
	object-fit: contain;
}

.footer__logo--dm {
    width: 38px;
}

.footer__mapalytics--logo {
	width: 118px;
}

.footer__button--border {
	display: flex;
	align-items: center;
	border: 1px solid var(--dm_creme_02);
	color: var(--dm_creme_02);
	height: 42px;
	text-wrap: nowrap;
	padding: 0 30px;
	background: none;
	font-size: 16px;
	cursor: pointer;
	transition: .2s;
}

.footer__button--border:hover {
	background:var(--dm_creme_02);
	color:var(--dm_preto_00);
	transition: .2s;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.dm-footer--after::after, .map-footer--after::after {
	content: '';
	position: absolute;
	top: -15px;
	z-index: 1;
	left: 0;
	height: 4px;
	width: 100%;
}

/* Data Machina */
.dm-footer--after::after {
	background: var(--dm_azul_00);
}

/* Mapalytics */
.map-footer--after::after {
	background: var(--dm_rosa_00);
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 1000px) {

	.footer__container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'n n' 'logoFooter redesSociais';
		margin: 100px 0 80px 0;
		gap: 82px 0;
	}

	footer {
		margin: 0 var(--margins);
	}
}

@media screen and (max-width: 800px) {

	.footer__logo {
		height: 100%;
		width: 100px;
		object-fit: contain;
		object-position: center;
	}

	.footer__sociais img {
		width: 24px;
		height: 24px;
	}

	.footer__bottom {
		gap: 30px;
	}
	
	footer * {
		font-size: 14px;
	}
}

@media screen and (max-width: 500px) {
	
	.footer__link {
		gap: 20px;
		margin-top: 20px;
	}

	.footer__container, .footer__bottom {
		display: flex;
		flex-direction: column;
	}

	.footer__container {
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 40px;
	}

	.footer__bottom {
		margin-bottom: 90px;
	}

	.footer__links {
		text-align: center;
	}

}